{% extends "base_frontend.html" %}
{% block title %}Home{% endblock  %}
{% block content %}
<div class="container">
    <div class="row">
        <!-- elif section for brand display -->
        {% if displaybrand %}
            {% for brand in displaybrand %}
                <div class="col-md-3 mt-3">
                    <div class="card">
                        <img src="static\images\products\{{brand.image}}" alt="" class="card-img-top" height="200" alt="{{brand.name}}">
                        <div class="card-body">
                            {% if brand.discount > 0 %}
                            <h4 style="text-shadow:1px 1px 2px #000; color:#f00; transform:rotate(-20deg); position:absolute; top:10%; left:20%">Discount:{{ brand.discount }}</h4>
                            {% endif %}
                            <h6 class="text-center">{{brand.name}}</h6>
                            <p class="text-center">Price ${{brand.price}}<p>
                        </div>
                        <div class="card-foorter">
                                <a href="#" class="btn btn-sm btn-primary float-left">details</a>
                                <a href="#" class="btn btn-sm btn-warning float-right">add to cart</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
    </div>
    <div class="row">
        <!-- elif section for category -->
        {% elif product_by_category_display %}
            {% for category in product_by_category_display %}
                <div class="col-md-3 mt-3">
                    <div class="card">
                        <img src="static\images\products\{{category.image}}" alt="" class="card-img-top" height="200" alt="{{category.name}}">
                        <div class="card-body">
                            {% if category.discount > 0 %}
                            <h4 style="text-shadow:1px 1px 2px #000; color:#f00; transform:rotate(-20deg); position:absolute; top:10%; left:20%">Discount:{{ category.discount }}</h4>
                            {% endif %}
                            <h6 class="text-center">{{category.name}}</h6>
                            <p class="text-center">Price ${{category.price}}<p>
                        </div>
                        <div class="card-foorter">
                                <a href="#" class="btn btn-sm btn-primary float-left">details</a>
                                <a href="#" class="btn btn-sm btn-warning float-right">add to cart</a>
                        </div>
                    </div>
                </div>
            </div>
            {%endfor%}
    </div>
    <div class="row">
        <!-- else section for all product display -->
        {% else %}
            {% for product in display_products.items %}
                <div class="col-md-3 mt-3">
                    <div class="card">
                        <img src="static\images\products\{{product.image}}" alt="" class="card-img-top" height="200" alt="{{product.name}}">
                        <div class="card-body">
                            {% if product.discount > 0 %}
                            <h4 style="text-shadow:1px 1px 2px #000; color:#f00; transform:rotate(-20deg); position:absolute; top:10%; left:20%">Discount:{{ product.discount }}</h4>
                            {% endif %}
                            <h6 class="text-center">{{product.name}}</h6>
                            <p class="text-center">Price ${{product.price}}<p>
                        </div>
                        <div class="card-foorter">
                                <a href="#" class="btn btn-sm btn-primary float-left">details</a>
                                <a href="#" class="btn btn-sm btn-warning float-right">add to cart</a>
                        </div>
                    </div>
                </div>
            {% endfor %} 
    </div>  
    <div class="row">
            <div class="col text-center">
            <!-- Paging section for limited pages-->
            {% if display_products.has_prev %}
            <a href="{{url_for("index",page=display_products.prev_num)}}" class="btn btn-outline-secondary btn-sm mt-3">Previous</a>
            {%endif%}
            {% for page_num in display_products.iter_pages() %}
                {% if page_num %}
                    <!--current page active display-->
                    {% if display_products.page == page_num %}
                    <a href="{{url_for("index",page=page_num)}}" class="btn btn-secondary btn-sm mt-3">{{ page_num }}</a>
                    {% else %}
                    <a href="{{url_for("index",page=page_num)}}" class="btn btn-outline-secondary btn-sm mt-3">{{ page_num }}</a>
                    {% endif %}
                {% else %}
                ....
                {% endif %}
            {% endfor %}
            </div>
    </div>
        {% endif %}
</div>
{% endblock  %}