{% extends "base_backend.html" %}
{% block title %}Categories List{% endblock  %}
{% block content %}
<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>{{ message }}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
</div>
<br>
<div class="container">
    <div class="container">
        <table class="table table-sm table-dark table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Category Name</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for category in categorylist %}
                <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.name }}</td>
                <td>
                    <a href="{{ url_for("catetoryupdate",id=category.id) }}" class="btn btn-warning btn-xs">Update</a>
                    <a href="#" class="btn btn-danger btn-xs" >Delete</a>
                </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
</div>
{% endblock %}